# Config files with sensitive information
todoist-config.ini
config.ini

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
venv/
ENV/

# IDE artifacts
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 